$background: #110038;
$primaryBtn: #ee3efe;
$borderBtn: 1px solid #110038;
$textColor: #ffffff;
$BarColor: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
$Shadow: 0 1px 0 0 #110038;
$boxColorSearch: #b4b4b4;
$boxShadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
$shadowBoxGifs: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
$boxBorder:1px solid #979797;
$mainBarShadow:  0 1px 0 0 #110038;
$hoverBorder: 1px dotted #110038;
$hoverBackground: #CE36DB;
$searchBackground:  #fffafe;
$searchShadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
$searchBorder: 1px solid #2E32FB;
$resultsboxes:#CCCCCC;
$resultBoxesShadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$resultBoxesBorder: 1px solid #808080;  
