$background:#FFF4FD;
$primaryBtn: #F7C9F3;
$borderBtn: 1px solid #110038;
$textColor: #110038;
$BarColor: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$Shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
$boxColorSearch:#E6E6E6 ;
$boxShadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$mainBarShadow: 0 1px 0 0 #110038;
$hoverBorder:1px dotted #110038;
$hoverBackground:#E6BBE2;
$boxColorSearch: #E6E6E6;
$shadowBoxGifs: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
$searchBackground: #FFFAFE;
$searchShadow:  inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
$searchBorder: 1px solid #E6BBE2;
$resultsboxes: #F0F0F0;
$resultBoxesShadow:  inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
$resultBoxesBorder:  1px solid #808080;