@import "./variablesdark";
@import "./main.scss";

.dark {
    background-color: $background;
    max-width: 1500px;
    h1 {
      background: $BarColor;
      color: $textColor;
      box-shadow: $mainBarShadow;
    }
  
    
       .navbar-logo{
         content: url(./gifOF_logo_dark.png);
       }

       .boxcrear{
           background-color: $boxColorSearch;
           box-shadow: $boxShadow;
           .title{
               background-image: $BarColor;
               color: $textColor;
           }
       }

    }  