@import '/crearGuifos/css/variables/varguifosmain';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  h1 {
    width: 100%;
    height: 20px;
    font-family: $FontPrimary;
    font-size: 12px;
    margin-bottom: 1.5%;
    padding-left: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}