@import "./main.scss";
@import "./variablesdark";


// $background: #110038;
// $primaryBtn: #ee3efe;
// $borderBtn: 1px solid #110038;
// $textColor: #ffffff;
// $BarColor: linear-gradient(270deg, #ee3efe 0%, #2e32fb 100%);
// $Shadow: 0 1px 0 0 #110038;
// $boxColorSearch: #b4b4b4;
// $mainBarShadow: 0 1px 0 0 #110038;


.dark {
  background-color: $background;
  max-width: 1500px;
  h1 {
    background: $BarColor;
    color: $textColor;
    box-shadow: $mainBarShadow;
  }

  
     .navbar-logo{
       content: url(./gifOF_logo_dark.png);
     }


    .menu-button {
        background-color: $primaryBtn;
        border: $borderBtn;
         box-shadow: $Shadow;
         color: $textColor;

        &:hover {

          background: $hoverBackground;
          border: $hoverBorder;

         
       }
        
      }

        .menu-arrow{
         background-color: $primaryBtn;
         border: $borderBtn;
         box-shadow: $Shadow;
         color: $textColor;

         &:hover {

          background: $hoverBackground;
           border:$hoverBorder;
         

        
       }

      

      }
      .menu-dropdown{
         background: $boxColorSearch;
         box-shadow: $boxShadow;

         li{
           background: #CCCCCC ;
          border: 1px solid #808080;
           box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

           &:hover{
             background: #2E32FB;
             border: 1px solid rgba(51,53,143,0.20);
             box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
           }
         }
       }
      .my-gifos{
        color: $textColor;
        
        &:hover{

          border: 1px dotted #FFFFFF;

        }
      }
    
.search-gifs {
    
    background-color: $boxColorSearch;
    .buscar {
      
      color: $textColor;
      background: $BarColor;
    }
   
   }

   .results{
    background-color: $boxColorSearch;
    box-shadow: $shadowBoxGifs;
    p{
      background: $resultsboxes;
      border: $resultBoxesBorder;
      box-shadow: $resultBoxesShadow;
    }
    
  }


  .suggestions {
    #sugerencias {
      
      background:$searchBackground;
      border: $searchBorder;
      box-shadow: $searchShadow;
    }
    .suggestedgifs {
      
      
      div{
          
          background: $boxColorSearch;
            box-shadow: $shadowBoxGifs;
      
      
      p{
        background: $BarColor;
        color: $textColor;
      }
    }
      
    }
  }

  .trends{
      
      
      
 
  #tendencias{
    
    background: $searchBackground;
    border: $searchBorder;
    box-shadow: $searchBorder;
  }
}

}




 




